<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<form method="post" action="/allBPTemplates">

    <input type="text" name="description" placeholder="Name:"/>

    <br>

    <div>Выберите файл</div>
    <select id="docTemplatesList" name="docTemplate">
    </select>

    <button type="submit">Добавить</button>

    <br>

</form>

<script type="text/javascript">

    $.getJSON("/getAllDocTemplates", function (data) {
        $.each(data, function (number, element) {
            $('#docTemplatesList')
                .append($("<option></option>")
                    .attr("value", element["id"])
                    .text(element["link"]));
        });
    });

</script>
</body>
</html>