<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form method="post" action="/allDocTemplates">
        <input type="text" name="link" placeholder="Filepath:" />
        <button type="submit">Добавить</button>
    </form>
</div>

{{#docTemplates}}
<div>
    <b>{{id}}</b>
    <span>{{link}}</span>
</div>
{{/docTemplates}}

</body>
</html>