<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form method="post" action="/allPosts">
        <input type="text" name="description" placeholder="Name:" />
        <button type="submit">Добавить</button>
    </form>
</div>

{{#posts}}
<div>
    <b>{{id}}</b>
    <span>{{description}}</span>
</div>
{{/posts}}

</body>
</html>