<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/allDocTemplates">Шаблоны документов</a>
    <br>
    <a href="/allPosts">Должности</a>
    <br>
    <a href="/allBPTemplates">Шаблоны бизнес-процессов</a>
    <br>
    <a href="/tasks_of_bp">tasks_of_bp</a>
</body>
</html>