<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>

    <script>
        function btnAddClick() {
            var elem = document.createElement("select");
            var selectId = "docSelect" + myForm.childElementCount;
            elem.setAttribute("id", selectId);
            //var br = document.createElement("br");

            myForm.appendChild(elem);
            //myForm.appendChild(br);

            $.getJSON("/getAllDocTemplates", function (data) {
                $.each(data, function (number, element) {
                    $("#" + selectId)
                        .append($("<option></option>")
                            .attr("value", element["id"])
                            .text(element["link"]));
                });
            });
        }

        function btnDeleteClick() {
            myForm.removeChild(myForm.lastChild);
            //myForm.removeChild(myForm.lastChild);
        }
    </script>
</head>
<body>

<button onclick="btnAddClick()">add</button>
<button onclick="btnDeleteClick()">delete</button>

<br>
<form id="myForm">

</form>

</body>
</html>