<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Stages of BP</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet"/>
    <!-- PLUGINS STYLES-->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="assets/vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet"/>
    <link href="assets/vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet"/>
    <link href="assets/vendors/summernote/dist/summernote.css" rel="stylesheet"/>
    <link href="assets/css/pages/mailbox.css" rel="stylesheet"/>
    <!-- THEME STYLES-->
    <link href="assets/css/main.min.css" rel="stylesheet"/>

    <!-- PAGE LEVEL STYLES-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script>

        //этот код выполнится при загрузке страницы
        //List шаблонов документов (пока вместо групп)
        var docList = [];
        $.ajax({
            async: false,
            url: "/getAllDocTemplates",//этот url возвращает List шаблонов документов
            success: function(data) {
                $.each(data, function (number, element) {
                    docList.push(element);
                });
            }
        });

        //ниже обработчики кнопок
        function btnAddClick() {
            //текущее количество подписантов
            var taskCount = taskList.childElementCount;

            if (taskCount >= 20) {
                return;
            }

            //формируем id-шник, по которому будем потом собирать информацию
            var selectId = "groupSelect" + taskCount;
            var stageName = "Этап " + (taskCount + 1);
            //непосредственное добавление подписанта
            var html = [
                '<form>',
                '<div class="form-group">',
                '<label>' + stageName + '</label>',
                '<select class="form-control" id=' + selectId + '>',
                '</select>',
                '</div>',
                '</form>'
            ].join("\n");
            $("#taskList").append(html);

            //заполняем всеми группами
            $.each(docList, function (number, element) {
                $("#" + selectId)
                    .append($("<option></option>")
                        .attr("value", element["id"])
                        .text(element["link"]));
            });
        }

        function btnDeleteClick() {
            if (taskList.childElementCount > 1) {
                taskList.removeChild(taskList.lastChild);
            }
        }
        
        function sendBP() {
            //проходим по всем подписантам и сохраняем id группы
            var docIdList = [];
            for (var i = 0; i < taskList.childElementCount; i++) {
                docIdList.push($("#groupSelect" + i).val());
            }

            //объект, который будем передавать
            var entity = {
                description: $("#bp_description").val(),
                idArr: docIdList
            };

            $.ajax({
                async: true,
                type: "POST",
                url: "/allBPTemplates",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(entity)
            });
        }

    </script>
</head>

<body class="fixed-navbar">
<div class="page-wrapper">
    <!-- START HEADER-->
    <header class="header">
        <div class="page-brand">
            <a class="link" href="user.html">
                <span class="brand">Java Special Forces</span>
                <span class="brand-mini">JSF</span>
            </a>
        </div>
        <div class="flexbox flex-1">
            <!-- START TOP-LEFT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <li>
                    <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                </li>
            </ul>
            <!-- END TOP-LEFT TOOLBAR-->
            <!-- START TOP-RIGHT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <li class="dropdown dropdown-user">
                    <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                        <img src="./assets/img/admin-avatar.png"/>
                        <span></span>User<i class="fa fa-angle-down m-l-5"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Profile</a>
                        <li class="dropdown-divider"></li>
                        <a class="dropdown-item" href="login.html"><i class="fa fa-power-off"></i>Logout</a>
                    </ul>
                </li>
            </ul>
            <!-- END TOP-RIGHT TOOLBAR-->
        </div>
    </header>
    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    <nav class="page-sidebar" id="sidebar">
        <div id="sidebar-collapse">
            <div class="admin-block d-flex">
                <div>
                    <img src="./assets/img/admin-avatar.png" width="45px"/>
                </div>
                <div class="admin-info">
                    <div class="font-strong">James Brown</div>
                    <small>User</small>
                </div>
            </div>
            <ul class="side-menu metismenu">
                <li>
                    <a class="active" href="user.html"><i class="sidebar-item-icon fa fa-calendar"></i>
                        <span class="nav-label">My Tasks</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="choice_bp.html"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                        <span class="nav-label">Business Processes</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="#"><i class="sidebar-item-icon fa fa-file-text-o"></i>
                        <span class="nav-label">Document template</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END SIDEBAR-->
    <div class="content-wrapper">
        <!-- START PAGE CONTENT-->
        <div class="page-heading">
            <h1 class="page-title">Создание шаблона бизнес-процесса</h1>
        </div>
        <div class="page-content fade-in-up">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title">Название бизнес-процесса</div>
                        </div>
                        <div class="ibox-body">
                            <input type="text" id="bp_description" style="width:50%">
                        </div>

                        <div class="ibox-head">
                            <div class="ibox-title">Шаблон документа</div>
                        </div>
                        <div class="ibox-body">
                            <input type="file" accept=".doc, .docx" style="width:95%">
                        </div>

                        <div class="ibox-head">
                            <div class="ibox-title">Этапы бизнес-процесса</div>
                        </div>
                        <div class="ibox-body">
                            <button class="btn btn-default" onclick="btnAddClick()">+</button>
                            <button class="btn btn-default" onclick="btnDeleteClick()">-</button>
                            <button class="btn btn-default" onclick="sendBP()">add BPTemp</button>
                            <form action="">
                                <div class="ibox" style="width:50%">
                                    <ul class="media-list media-list-divider m-0" id="taskList">

                                    </ul>
                                    <script>
                                        // чтобы был один подписант при загрузке страницы
                                        btnAddClick();
                                    </script>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default" type="submit" onclick="sendBP()">Добавить шаблон</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
        <footer class="page-footer">
            <div class="font-13">2019 © <b>Java-sпецназ</b></div>
            <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
        </footer>
    </div>
</div>
<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
</div>
<!-- END PAGA BACKDROPS-->
<!-- CORE PLUGINS-->
<script src="assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
<script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/vendors/metisMenu/dist/metisMenu.min.js" type="text/javascript"></script>
<script src="assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- PAGE LEVEL PLUGINS-->
<script src="assets/vendors/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="assets/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="assets/vendors/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="assets/vendors/summernote/dist/summernote.min.js" type="text/javascript"></script>
<!-- CORE SCRIPTS-->
<script src="assets/js/app.min.js" type="text/javascript"></script>
<!-- PAGE LEVEL SCRIPTS-->
<script src="assets/js/scripts/form-plugins.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#summernote').summernote();
        $('.note-popover').css({
            'display': 'none'
        });
    })
</script>
</body>
</body>

</html>